* {
  box-sizing: border-box;
}
html, body, .carousel,  .carousel-inner, .carousel-inner .item {
  font-family: "Montserrat";
  height: 100%
}

h1 {
  font-size: 2.5rem;
  font-family: "Montserrat-Black";
  line-height: 1.5;
  font-weight: 700;
  color: #0d0a07;
}

h2 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #413F42;
  font-size: 1.4rem;
}

.container-fluid {
  padding: 0% 15% 5%;
}

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Montserrat-light";
  font-size: 2.2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#title {
  background-color: #FCFFE7;
}

.title-img {
  width: 100%;
}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    z-index: -1;
    margin-top: 90%

  }

}

.title-text {
  margin-top: 33%;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  from {
    color: #fff;
  }

  to {
    color: #0d0a07;
  }
}

#feature {
  text-align: center;
}

.feature-title {
  padding: 10% 0 10%;
}
.zoom{
  padding: 20%
transition: transform .2s; /* Animation */
width: 100%;
margin: 0 auto;
}
.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.album-style {
  margin: 5% 0 5%;
}

/* feature project album */
.album-img {
  width: 100%;
  height: 100%;
}
#showcase{
  padding: 7% 15%;
}
#gallery {
  text-align: center;
  background-color: #F7F7F7;
}
.about-img{
  width: 90%;
  border-radius: 15%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.contact-us{
  text-align: center;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* .gallery-img {
  width: 50%;
  border-radius: 15%
} */
/* .slide-img{
  border-radius: 8%
} */
/* .carousel-item {
  padding: 2% 0;
} */

.carousel-control-prev-icon {

  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(222, 160, 87)' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(222, 160, 87)' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
#footer{
  background-color: #F6E3C5;
  text-align: center;
  padding: 100px;
}
.footer-icon{
  margin: 20px  10px 30px;;

}
